{{ 'best_in_class.css' | asset_url | stylesheet_tag }}


<div class="subscribe-section pc _565">
        <div class="padding-global-25 _6541 pc _62">
         
          <div data-w-id="1a023051-e865-1f79-ecde-1129b0e718ce" class="container-1668 _1 w-container" style="opacity: 1;">
            <h1 letters-fade-in="" text-split="" class="heading__one-2 is--product--new _2 _6265 pc"><span class="text-span-78" >The Best OT Hearing Aids of 2023</span> </h1>
            {% comment %} <p class="paragraph-48">Customize the device to effortlessly match your specific hearing needs with our OTC Hearing Aid, featuring <strong>a single easy-to-use button and 11 adjustable volume levels.</strong><br><br><span class="text-span-82">Whether you're in a quiet room or a loud environment,<strong> find the perfect balance for crystal-clear sound.</strong></span></p> {% endcomment %}
          </div>
          <div class="w-layout-grid grid-6">
        <div>
            <img src="{{ 'Placeholder Image.png' | asset_url }}" alt="Your Image" />
              </div>   
              <div style="    display: grid;
    gap: 36px;">
                <div>
                  {% comment %} <div> <img src="{{ 'wave.png' | asset_url }}" alt="Your Image" /></div> {% endcomment %}
                  <div>
                    <div class="head-txt" style="display:flex; align-items: flex-start;gap:20px">
 <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 35px;
    height: 35px;
    flex-shrink: 0;">
<path d="M7.65625 13.125V21.875C7.65625 22.1651 7.54102 22.4433 7.3359 22.6484C7.13078 22.8535 6.85258 22.9688 6.5625 22.9688C6.27242 22.9688 5.99422 22.8535 5.7891 22.6484C5.58398 22.4433 5.46875 22.1651 5.46875 21.875V13.125C5.46875 12.8349 5.58398 12.5567 5.7891 12.3516C5.99422 12.1465 6.27242 12.0312 6.5625 12.0312C6.85258 12.0312 7.13078 12.1465 7.3359 12.3516C7.54102 12.5567 7.65625 12.8349 7.65625 13.125ZM12.0312 3.28125C11.7412 3.28125 11.463 3.39648 11.2579 3.6016C11.0527 3.80672 10.9375 4.08492 10.9375 4.375V30.625C10.9375 30.9151 11.0527 31.1933 11.2579 31.3984C11.463 31.6035 11.7412 31.7188 12.0312 31.7188C12.3213 31.7188 12.5995 31.6035 12.8046 31.3984C13.0098 31.1933 13.125 30.9151 13.125 30.625V4.375C13.125 4.08492 13.0098 3.80672 12.8046 3.6016C12.5995 3.39648 12.3213 3.28125 12.0312 3.28125ZM17.5 7.65625C17.2099 7.65625 16.9317 7.77148 16.7266 7.9766C16.5215 8.18172 16.4062 8.45992 16.4062 8.75V26.25C16.4062 26.5401 16.5215 26.8183 16.7266 27.0234C16.9317 27.2285 17.2099 27.3438 17.5 27.3438C17.7901 27.3438 18.0683 27.2285 18.2734 27.0234C18.4785 26.8183 18.5938 26.5401 18.5938 26.25V8.75C18.5938 8.45992 18.4785 8.18172 18.2734 7.9766C18.0683 7.77148 17.7901 7.65625 17.5 7.65625ZM22.9688 12.0312C22.6787 12.0312 22.4005 12.1465 22.1954 12.3516C21.9902 12.5567 21.875 12.8349 21.875 13.125V21.875C21.875 22.1651 21.9902 22.4433 22.1954 22.6484C22.4005 22.8535 22.6787 22.9688 22.9688 22.9688C23.2588 22.9688 23.537 22.8535 23.7421 22.6484C23.9473 22.4433 24.0625 22.1651 24.0625 21.875V13.125C24.0625 12.8349 23.9473 12.5567 23.7421 12.3516C23.537 12.1465 23.2588 12.0312 22.9688 12.0312ZM28.4375 9.84375C28.1474 9.84375 27.8692 9.95898 27.6641 10.1641C27.459 10.3692 27.3438 10.6474 27.3438 10.9375V24.0625C27.3438 24.3526 27.459 24.6308 27.6641 24.8359C27.8692 25.041 28.1474 25.1562 28.4375 25.1562C28.7276 25.1562 29.0058 25.041 29.2109 24.8359C29.416 24.6308 29.5312 24.3526 29.5312 24.0625V10.9375C29.5312 10.6474 29.416 10.3692 29.2109 10.1641C29.0058 9.95898 28.7276 9.84375 28.4375 9.84375Z" fill="#60CEEC"/>
</svg>
<div>
  <h1  style="color:white;
    font-size: 20px; font-weight:600;padding-bottom:10px"> Advanced Clear and Quality Sound</h1>
<p style="font-size: 16px;
    color: #c4ced2;
    
    max-width: 550px;">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. Upgrade today and transform your hearing experience.</p>
</div>
 {% comment %} <span style="padding-left: 24px;
    font-size: 20px;"> Advanced Clear and Quality Sound</span> {% endcomment %}
                    </div>
                  
                    {% comment %} <p class="desc-txt">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. Upgrade today and transform your hearing experience.</p> {% endcomment %}
                  </div>
                </div>
                 <div>
               
                  <div>
                    <div class="head-txt"  style="display:flex; align-items: flex-start;gap:20px">
 <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 35px;
    height: 35px;
    flex-shrink: 0;">
<path d="M28.4375 5.46875H6.5625C5.98234 5.46875 5.42594 5.69922 5.0157 6.10945C4.60547 6.51969 4.375 7.07609 4.375 7.65625V15.6926C4.375 27.9439 14.741 32.0086 16.8164 32.699C17.2597 32.8498 17.7403 32.8498 18.1836 32.699C20.2617 32.0086 30.625 27.9439 30.625 15.6926V7.65625C30.625 7.07609 30.3945 6.51969 29.9843 6.10945C29.5741 5.69922 29.0177 5.46875 28.4375 5.46875ZM28.4375 15.6939C28.4375 26.4154 19.3662 29.9975 17.5 30.6209C15.6502 30.0043 6.5625 26.425 6.5625 15.6939V7.65625H28.4375V15.6939ZM11.2574 19.3676C11.0522 19.1623 10.9369 18.884 10.9369 18.5938C10.9369 18.3035 11.0522 18.0252 11.2574 17.8199C11.4627 17.6147 11.741 17.4994 12.0312 17.4994C12.3215 17.4994 12.5998 17.6147 12.8051 17.8199L15.3125 20.3273L22.1949 13.4449C22.2965 13.3433 22.4172 13.2627 22.55 13.2077C22.6827 13.1527 22.825 13.1244 22.9688 13.1244C23.1125 13.1244 23.2548 13.1527 23.3875 13.2077C23.5203 13.2627 23.641 13.3433 23.7426 13.4449C23.8442 13.5465 23.9248 13.6672 23.9798 13.8C24.0348 13.9327 24.0631 14.075 24.0631 14.2188C24.0631 14.3625 24.0348 14.5048 23.9798 14.6375C23.9248 14.7703 23.8442 14.891 23.7426 14.9926L16.0863 22.6488C15.9847 22.7505 15.8641 22.8312 15.7313 22.8862C15.5986 22.9413 15.4562 22.9696 15.3125 22.9696C15.1688 22.9696 15.0264 22.9413 14.8937 22.8862C14.7609 22.8312 14.6403 22.7505 14.5387 22.6488L11.2574 19.3676Z" fill="#60CEEC"/>
</svg>
<div>
  <h1  style="color:white;
    font-size: 20px; font-weight:600;padding-bottom:10px">  Clinically-Proven Audiologist-Quality Customization</h1>
<p style="font-size: 16px;
    color: #c4ced2;
    
    max-width: 550px;">Our new design features a discreet receiver-in-canal design that delivers a clear and natural sound experience. It ensures a comfortable and secure fit for all types of ears.</p>
</div>
{% comment %} <span style="    padding-left: 24px;
    font-size: 20px;">  Clinically-Proven Audiologist-Quality Customization</span> {% endcomment %}
                    </div>
                  
                    {% comment %} <p class="desc-txt">Our new design features a discreet receiver-in-canal design that delivers a clear and natural sound experience. It ensures a comfortable and secure fit for all types of ears.</p> {% endcomment %}
                  </div>
                </div>
                 <div>
                
                  <div>
                    <div class="head-txt"  style="display:flex; align-items: flex-start;gap:20px">
<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 35px;
    height: 35px;
    flex-shrink: 0;">
<path d="M29.2469 28.7956C29.3455 28.9015 29.4221 29.026 29.4723 29.1618C29.5225 29.2975 29.5452 29.4419 29.5391 29.5865C29.5331 29.7311 29.4984 29.8731 29.4371 30.0042C29.3758 30.1353 29.2891 30.2529 29.182 30.3503C29.0748 30.4476 28.9495 30.5227 28.8131 30.5713C28.6768 30.6198 28.5321 30.6408 28.3876 30.633C28.2431 30.6252 28.1015 30.5889 27.9712 30.526C27.8408 30.4631 27.7242 30.375 27.6282 30.2667L22.843 25.0098C22.3521 25.1614 21.8326 25.1956 21.3261 25.1096C20.8196 25.0237 20.3404 24.82 19.927 24.515C19.5136 24.21 19.1776 23.8123 18.946 23.3537C18.7145 22.8951 18.5938 22.3886 18.5938 21.8749C18.5923 21.4141 18.6478 20.9549 18.7592 20.5077L13.125 14.3089C13.1131 14.599 12.9864 14.8724 12.7728 15.0691C12.5592 15.2657 12.2762 15.3695 11.9862 15.3575C11.6961 15.3455 11.4226 15.2188 11.226 15.0052C11.0293 14.7917 10.9256 14.5087 10.9375 14.2186C10.9367 13.548 11.0391 12.8812 11.241 12.2417L8.81839 9.5702C8.05123 10.9992 7.65185 12.5967 7.65628 14.2186C7.65628 17.869 8.82249 18.9929 10.0584 20.185C11.2397 21.328 12.5782 22.6145 12.5782 25.703C12.5782 27.0084 13.0967 28.2603 14.0197 29.1833C14.9428 30.1063 16.1947 30.6249 17.5 30.6249C18.9 30.6249 20.0225 30.0561 21.0315 28.8352C21.1218 28.7214 21.234 28.6266 21.3614 28.5566C21.4888 28.4866 21.6289 28.4427 21.7735 28.4274C21.9181 28.4122 22.0642 28.4259 22.2034 28.4678C22.3426 28.5097 22.4721 28.5789 22.5842 28.6714C22.6964 28.7639 22.789 28.8779 22.8566 29.0066C22.9242 29.1353 22.9654 29.2762 22.9779 29.421C22.9904 29.5659 22.9739 29.7118 22.9294 29.8501C22.8849 29.9885 22.8132 30.1167 22.7186 30.227C21.3022 31.9429 19.5508 32.8124 17.5 32.8124C15.6152 32.8102 13.8081 32.0605 12.4753 30.7277C11.1425 29.3949 10.3928 27.5879 10.3907 25.703C10.3907 23.5442 9.61409 22.795 8.53948 21.76C7.1723 20.4393 5.46878 18.7987 5.46878 14.2186C5.46319 11.9773 6.08911 9.77967 7.27484 7.87762L5.75316 6.20418C5.65454 6.09824 5.57792 5.97378 5.52776 5.83802C5.47759 5.70225 5.45487 5.55788 5.46091 5.41327C5.46696 5.26866 5.50164 5.12669 5.56296 4.99558C5.62427 4.86447 5.711 4.74684 5.81811 4.6495C5.92522 4.55215 6.05059 4.47704 6.18695 4.4285C6.32331 4.37997 6.46794 4.35898 6.61247 4.36676C6.757 4.37453 6.89854 4.41092 7.02891 4.4738C7.15927 4.53668 7.27585 4.62481 7.37191 4.73309L29.2469 28.7956ZM12.4537 5.76531C13.948 4.87317 15.652 4.39311 17.3922 4.37404C19.1324 4.35497 20.8465 4.79759 22.3599 5.65678C23.8733 6.51597 25.1319 7.76101 26.0074 9.26505C26.8829 10.7691 27.344 12.4783 27.3438 14.2186C27.3438 14.5087 27.459 14.7869 27.6641 14.992C27.8692 15.1972 28.1475 15.3124 28.4375 15.3124C28.7276 15.3124 29.0058 15.1972 29.2109 14.992C29.416 14.7869 29.5313 14.5087 29.5313 14.2186C29.5316 12.0914 28.9679 10.002 27.8976 8.16361C26.8273 6.32519 25.2888 4.80341 23.4387 3.75338C21.5886 2.70335 19.4933 2.16261 17.3661 2.18629C15.239 2.20997 13.1561 2.79721 11.3299 3.88817C11.081 4.03719 10.9015 4.279 10.8308 4.5604C10.7602 4.8418 10.8042 5.13973 10.9533 5.38865C11.1023 5.63758 11.3441 5.81711 11.6255 5.88775C11.9069 5.95838 12.2048 5.91434 12.4537 5.76531ZM21.9188 17.3864C22.0464 17.4523 22.1858 17.4924 22.329 17.5045C22.4721 17.5165 22.6163 17.5002 22.7531 17.4566C22.89 17.4129 23.0169 17.3427 23.1266 17.2499C23.2364 17.1572 23.3267 17.0438 23.3926 16.9161C23.8338 16.0855 24.0639 15.1591 24.0625 14.2186C24.0629 13.1738 23.8137 12.1441 23.3359 11.215C22.858 10.2859 22.1652 9.48429 21.3151 8.87691C20.465 8.26952 19.4822 7.87389 18.4484 7.72291C17.4145 7.57193 16.3596 7.66997 15.3713 8.00887C15.0968 8.10296 14.871 8.30224 14.7434 8.56287C14.6158 8.8235 14.597 9.12413 14.6911 9.39861C14.7852 9.6731 14.9845 9.89897 15.2451 10.0265C15.5058 10.1541 15.8064 10.1729 16.0809 10.0788C16.7398 9.85286 17.443 9.7875 18.1323 9.88815C18.8215 9.9888 19.4767 10.2526 20.0434 10.6575C20.6102 11.0624 21.072 11.5968 21.3906 12.2162C21.7092 12.8356 21.8753 13.5221 21.875 14.2186C21.8748 14.8077 21.7282 15.3874 21.4485 15.9057C21.3826 16.0334 21.3424 16.1728 21.3304 16.3159C21.3184 16.4591 21.3346 16.6032 21.3783 16.7401C21.422 16.8769 21.4922 17.0039 21.5849 17.1136C21.6777 17.2233 21.7911 17.3137 21.9188 17.3796V17.3864Z" fill="#60CEEC"/>
</svg>
<div>
  <h1  style="color:white;
    font-size: 20px; font-weight:600;padding-bottom:10px"> Built for All Types of Hearing Loss</h1>
<p style="font-size: 16px;
    color: #c4ced2;
    
    max-width: 550px;">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. Upgrade today and transform your hearing experience.</p>
</div>
{% comment %} <span style="    padding-left: 24px;
    font-size: 20px;"> Built for All Types of Hearing Loss</span> {% endcomment %}
                    </div>
                   
                    {% comment %} <p class="desc-txt">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. Upgrade today and transform your hearing experience.</p> {% endcomment %}
                  </div>
                </div>
                 <div>
                 
                  <div>
                    <div class="head-txt"  style="display:flex; align-items: flex-start;gap:20px">
<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 35px;
    height: 35px;
    flex-shrink: 0;">
<path d="M27.3438 7.65625H4.375C3.50476 7.65625 2.67016 8.00195 2.05481 8.61731C1.43945 9.23266 1.09375 10.0673 1.09375 10.9375V24.0625C1.09375 24.9327 1.43945 25.7673 2.05481 26.3827C2.67016 26.998 3.50476 27.3438 4.375 27.3438H27.3438C28.214 27.3438 29.0486 26.998 29.6639 26.3827C30.2793 25.7673 30.625 24.9327 30.625 24.0625V10.9375C30.625 10.0673 30.2793 9.23266 29.6639 8.61731C29.0486 8.00195 28.214 7.65625 27.3438 7.65625ZM28.4375 24.0625C28.4375 24.3526 28.3223 24.6308 28.1171 24.8359C27.912 25.041 27.6338 25.1562 27.3438 25.1562H4.375C4.08492 25.1562 3.80672 25.041 3.6016 24.8359C3.39648 24.6308 3.28125 24.3526 3.28125 24.0625V10.9375C3.28125 10.6474 3.39648 10.3692 3.6016 10.1641C3.80672 9.95898 4.08492 9.84375 4.375 9.84375H27.3438C27.6338 9.84375 27.912 9.95898 28.1171 10.1641C28.3223 10.3692 28.4375 10.6474 28.4375 10.9375V24.0625ZM35 13.125V21.875C35 22.1651 34.8848 22.4433 34.6796 22.6484C34.4745 22.8535 34.1963 22.9688 33.9062 22.9688C33.6162 22.9688 33.338 22.8535 33.1329 22.6484C32.9277 22.4433 32.8125 22.1651 32.8125 21.875V13.125C32.8125 12.8349 32.9277 12.5567 33.1329 12.3516C33.338 12.1465 33.6162 12.0312 33.9062 12.0312C34.1963 12.0312 34.4745 12.1465 34.6796 12.3516C34.8848 12.5567 35 12.8349 35 13.125ZM18.9779 16.9244C19.0761 17.0831 19.132 17.2643 19.1404 17.4507C19.1488 17.6371 19.1093 17.8226 19.0258 17.9895L16.8383 22.3645C16.774 22.493 16.685 22.6076 16.5765 22.7018C16.4679 22.796 16.3418 22.8678 16.2055 22.9133C16.0691 22.9587 15.9252 22.9769 15.7818 22.9667C15.6384 22.9565 15.4985 22.9182 15.3699 22.8539C15.2414 22.7896 15.1267 22.7007 15.0326 22.5921C14.9384 22.4835 14.8665 22.3574 14.8211 22.2211C14.7756 22.0847 14.7575 21.9408 14.7677 21.7974C14.7779 21.6541 14.8162 21.5141 14.8805 21.3855L16.2777 18.5938H13.6719C13.4853 18.5939 13.3019 18.5463 13.1389 18.4555C12.9759 18.3648 12.8389 18.2339 12.7408 18.0752C12.6427 17.9165 12.5868 17.7354 12.5784 17.5491C12.5701 17.3628 12.6095 17.1774 12.693 17.0105L14.8805 12.6355C14.9447 12.507 15.0337 12.3924 15.1423 12.2982C15.2509 12.204 15.3769 12.1322 15.5133 12.0867C15.6496 12.0413 15.7936 12.0231 15.937 12.0333C16.0803 12.0435 16.2203 12.0818 16.3488 12.1461C16.4774 12.2104 16.592 12.2993 16.6862 12.4079C16.7804 12.5165 16.8522 12.6426 16.8977 12.7789C16.9431 12.9153 16.9613 13.0592 16.9511 13.2026C16.9409 13.3459 16.9026 13.4859 16.8383 13.6145L15.441 16.4062H18.0469C18.2334 16.4061 18.4168 16.4536 18.5798 16.5443C18.7427 16.635 18.8798 16.7658 18.9779 16.9244Z" fill="#60CEEC"/>
</svg>
<div>
  <h1  style="color:white;
    font-size: 20px; font-weight:600;padding-bottom:10px">Rechargeable, Up To 24 Hours</h1>
<p style="font-size: 16px;
    color: #c4ced2;
    
    max-width: 550px;">With Clari hearing aids, you can enjoy continuous sound throughout the day for up to 24 hours on a single charge.  Plus, our portable charging case allows you to recharge your hearing aids up to 4 times, so you never have to worry about running out of power.</p>
</div>

{% comment %} <span style="    padding-left: 24px;
    font-size: 20px;">Rechargeable, Up To 24 Hours</span>   {% endcomment %}
                    </div>
                    
                    {% comment %} <p class="desc-txt">With Clari hearing aids, you can enjoy continuous sound throughout the day for up to 24 hours on a single charge.  Plus, our portable charging case allows you to recharge your hearing aids up to 4 times, so you never have to worry about running out of power.</p> {% endcomment %}
                  </div>
                </div>
              </div>
            {% comment %} <div id="w-node-_1a023051-e865-1f79-ecde-1129b0e718dd-c9e62f93" class="div-block-180">
              <div class="nope-1">
                <div class="line-3">
                  <div class="div-block-179"></div>
                </div>
                <div class="div-block-2">
                  <div class="div-block-4">
                    <div>
                      <div class="div-block-5"> </div>
                    </div>
                    <div class="div-block-6">
                      <h1 class="heading-98 no-1">Advanced Clear And Quality Sound</h1>
                      <div class="text-block-2 h">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. <strong>Upgrade today and transform your hearing experience.</strong><br></div>
                    </div>
                  </div>
                  <div class="div-block-4 _2nd">
                    <div>
                      <div class="div-block-5"> </div>
                    </div>
                    <div class="div-block-6">
                      <h1 class="heading-98 no-1">Clinically-proven audiologist-quality customization.</h1>
                      <div class="text-block-2 h">Our new design features a discreet receiver-in-canal design that delivers a clear and natural sound experience. It ensures a comfortable and secure fit for all types of ears.<br></div>
                    </div>
                  </div>
                  <div class="div-block-4 _2nd">
                    <div>
                      <div class="div-block-5"> </div>
                    </div>
                    <div class="div-block-6">
                      <h1 class="heading-98 no-1">Built for ALL types of hearing loss</h1>
                      <div class="text-block-2 h">Perfect for individuals with varying levels of hearing loss. They're equipped with <strong>3 custom programs and improved sound quality,</strong> ensuring they meet your specific hearing needs.<br></div>
                    </div>
                  </div>
                  <div class="div-block-4 _2nd">
                    <div>
                      <div class="div-block-5"> </div>
                    </div>
                    <div class="div-block-6">
                      <h1 class="heading-98 no-1">Rechargeable, up to 24 hours of battery life</h1>
                      <div class="text-block-2 h">With Clari hearing aids, you can enjoy continuous sound throughout the day for <strong>up to 24 hours on a single charge.</strong> Plus, our portable charging case allows you to recharge your hearing aids <strong>up to 4 times, so you never have to worry about running out of power.</strong><br></div>
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div id="w-node-_1a023051-e865-1f79-ecde-1129b0e71910-c9e62f93" class="image-wrapper-1-1-8">
                <img src="https://cdn.shopify.com/s/files/1/0809/3591/1703/files/Untitled-9-01.webp?v=1702732996" loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1919px) 90vw, 54vw" alt="" class="image-wrapper_image-12 _65"></div>
          </div> {% endcomment %}
          {% comment %} <div class="w-layout-grid grid-4 mobile">
            <div id="w-node-_1a023051-e865-1f79-ecde-1129b0e71913-c9e62f93" class="div-block-184 _62">
              <img src="https://cdn.shopify.com/s/files/1/0809/3591/1703/files/Untitled-9-01.webp?v=1702732996" loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1919px) 90vw, 54vw" alt="" class="image-wrapper_image-12 _65">
            </div>
            <div id="w-node-_1a023051-e865-1f79-ecde-1129b0e71914-c9e62f93" data-w-id="1a023051-e865-1f79-ecde-1129b0e71914" class="div-block-8" style="opacity: 1;">
              <div class="nope-2">
                <div class="line-3">
                  <div class="div-block-187"> </div>
                </div>
                <div class="div-block-185">
                  <div class="div-block-182">
                    <div>
                      <div class="div-block-186"> </div>
                    </div>
                    <div class="div-block-183">
                      <h1 class="heading-99 no-1">Advanced Clear And Quality Sound</h1>
                      <div class="text-block-132 h">Experience superior sound clarity with our game-changing technology. Hear every sound with precision like never before. <strong>Upgrade today and transform your hearing experience.</strong><br></div>
                    </div>
                  </div>
                  <div class="div-block-182 _2nd">
                    <div>
                      <div class="div-block-186"> </div>
                    </div>
                    <div class="div-block-183">
                      <h1 class="heading-99 no-1">Clinically-proven audiologist-quality customization.</h1>
                      <div class="text-block-132 h">Our new design features a discreet receiver-in-canal design that delivers a clear and natural sound experience. It ensures a comfortable and secure fit for all types of ears.<br></div>
                    </div>
                  </div>
                  <div class="div-block-182 _2nd">
                    <div>
                      <div class="div-block-186"> </div>
                    </div>
                    <div class="div-block-183">
                      <h1 class="heading-99 no-1">Built for ALL types of hearing loss</h1>
                      <div class="text-block-132 h">Perfect for individuals with varying levels of hearing loss. They're equipped with <strong>3 custom programs and improved sound quality,</strong> ensuring they meet your specific hearing needs.<br></div>
                    </div>
                  </div>
                  <div class="div-block-182 _2nd">
                    <div>
                      <div class="div-block-186"> </div>
                    </div>
                    <div class="div-block-183">
                      <h1 class="heading-99 no-1">Rechargeable, up to 24 hours of battery life</h1>
                      <div class="text-block-132 h">With Clari hearing aids, you can enjoy continuous sound throughout the day for <strong>up to 24 hours on a single charge.</strong> Plus, our portable charging case allows you to recharge your hearing aids <strong>up to 4 times, so you never have to worry about running out of power.</strong><br></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          <div class="div-block-177"> </div>
          <div class="container-large-16 pc"> </div>
          {% comment %} <section class="section_home1-results _26 _11">
            <div class="padding-global-35 _9">
              <div class="container-large-21">
                <div class="padding-section-large-44 _8 _566">
                  <div class="w-layout-grid home1-results_component">
                    <div class="home1-results_content">
                      <div data-w-id="1a023051-e865-1f79-ecde-1129b0e7194f" class="margin-bottom margin-small _33 _8585" style="opacity: 1;">
                        <h2 class="heading-73 _8559">There's a Reason<br>50,928+ People Use<br>Clari Hearing Aids Every Single Day</h2>
                      </div>
                      <div class="margin-bottom margin-small _2"> </div>
                    </div>
                    <div class="image-wrapper-1-1-19">
                        <img src="https://cdn.shopify.com/s/files/1/0809/3591/1703/files/newst-06.webp?v=1702737849" loading="lazy" sizes="100vw" alt="" class="image-wrapper_image-9 _6565"></div>
                    <div class="padding-global-12">
                      <div class="container-large-20">
                        <div class="padding-section-large-41">
                          <div class="max-width-large-2 align-center">
                            <div data-w-id="1a023051-e865-1f79-ecde-1129b0e71959" class="testimonial4_component _21" style="opacity: 1;">
                              <div class="testimonial4_rating-wrapper">
                                <div class="testimonial4_rating-icon w-embed"><svg width="100%" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.16379 0.551109C8.47316 -0.183704 9.52684 -0.183703 9.83621 0.551111L11.6621 4.88811C11.7926 5.19789 12.0875 5.40955 12.426 5.43636L17.1654 5.81173C17.9684 5.87533 18.294 6.86532 17.6822 7.38306L14.0713 10.4388C13.8134 10.6571 13.7007 10.9996 13.7795 11.3259L14.8827 15.8949C15.0696 16.669 14.2172 17.2809 13.5297 16.8661L9.47208 14.4176C9.18225 14.2427 8.81775 14.2427 8.52793 14.4176L4.47029 16.8661C3.7828 17.2809 2.93036 16.669 3.11727 15.8949L4.22048 11.3259C4.29928 10.9996 4.18664 10.6571 3.92873 10.4388L0.317756 7.38306C-0.294046 6.86532 0.0315611 5.87533 0.834562 5.81173L5.57402 5.43636C5.91255 5.40955 6.20744 5.19789 6.33786 4.88811L8.16379 0.551109Z" fill="currentColor"></path>
                                  </svg></div>
                                <div class="testimonial4_rating-icon w-embed"><svg width="100%" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.16379 0.551109C8.47316 -0.183704 9.52684 -0.183703 9.83621 0.551111L11.6621 4.88811C11.7926 5.19789 12.0875 5.40955 12.426 5.43636L17.1654 5.81173C17.9684 5.87533 18.294 6.86532 17.6822 7.38306L14.0713 10.4388C13.8134 10.6571 13.7007 10.9996 13.7795 11.3259L14.8827 15.8949C15.0696 16.669 14.2172 17.2809 13.5297 16.8661L9.47208 14.4176C9.18225 14.2427 8.81775 14.2427 8.52793 14.4176L4.47029 16.8661C3.7828 17.2809 2.93036 16.669 3.11727 15.8949L4.22048 11.3259C4.29928 10.9996 4.18664 10.6571 3.92873 10.4388L0.317756 7.38306C-0.294046 6.86532 0.0315611 5.87533 0.834562 5.81173L5.57402 5.43636C5.91255 5.40955 6.20744 5.19789 6.33786 4.88811L8.16379 0.551109Z" fill="currentColor"></path>
                                  </svg></div>
                                <div class="testimonial4_rating-icon w-embed"><svg width="100%" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.16379 0.551109C8.47316 -0.183704 9.52684 -0.183703 9.83621 0.551111L11.6621 4.88811C11.7926 5.19789 12.0875 5.40955 12.426 5.43636L17.1654 5.81173C17.9684 5.87533 18.294 6.86532 17.6822 7.38306L14.0713 10.4388C13.8134 10.6571 13.7007 10.9996 13.7795 11.3259L14.8827 15.8949C15.0696 16.669 14.2172 17.2809 13.5297 16.8661L9.47208 14.4176C9.18225 14.2427 8.81775 14.2427 8.52793 14.4176L4.47029 16.8661C3.7828 17.2809 2.93036 16.669 3.11727 15.8949L4.22048 11.3259C4.29928 10.9996 4.18664 10.6571 3.92873 10.4388L0.317756 7.38306C-0.294046 6.86532 0.0315611 5.87533 0.834562 5.81173L5.57402 5.43636C5.91255 5.40955 6.20744 5.19789 6.33786 4.88811L8.16379 0.551109Z" fill="currentColor"></path>
                                  </svg></div>
                                <div class="testimonial4_rating-icon w-embed"><svg width="100%" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.16379 0.551109C8.47316 -0.183704 9.52684 -0.183703 9.83621 0.551111L11.6621 4.88811C11.7926 5.19789 12.0875 5.40955 12.426 5.43636L17.1654 5.81173C17.9684 5.87533 18.294 6.86532 17.6822 7.38306L14.0713 10.4388C13.8134 10.6571 13.7007 10.9996 13.7795 11.3259L14.8827 15.8949C15.0696 16.669 14.2172 17.2809 13.5297 16.8661L9.47208 14.4176C9.18225 14.2427 8.81775 14.2427 8.52793 14.4176L4.47029 16.8661C3.7828 17.2809 2.93036 16.669 3.11727 15.8949L4.22048 11.3259C4.29928 10.9996 4.18664 10.6571 3.92873 10.4388L0.317756 7.38306C-0.294046 6.86532 0.0315611 5.87533 0.834562 5.81173L5.57402 5.43636C5.91255 5.40955 6.20744 5.19789 6.33786 4.88811L8.16379 0.551109Z" fill="currentColor"></path>
                                  </svg></div>
                                <div class="testimonial4_rating-icon w-embed"><svg width="100%" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.16379 0.551109C8.47316 -0.183704 9.52684 -0.183703 9.83621 0.551111L11.6621 4.88811C11.7926 5.19789 12.0875 5.40955 12.426 5.43636L17.1654 5.81173C17.9684 5.87533 18.294 6.86532 17.6822 7.38306L14.0713 10.4388C13.8134 10.6571 13.7007 10.9996 13.7795 11.3259L14.8827 15.8949C15.0696 16.669 14.2172 17.2809 13.5297 16.8661L9.47208 14.4176C9.18225 14.2427 8.81775 14.2427 8.52793 14.4176L4.47029 16.8661C3.7828 17.2809 2.93036 16.669 3.11727 15.8949L4.22048 11.3259C4.29928 10.9996 4.18664 10.6571 3.92873 10.4388L0.317756 7.38306C-0.294046 6.86532 0.0315611 5.87533 0.834562 5.81173L5.57402 5.43636C5.91255 5.40955 6.20744 5.19789 6.33786 4.88811L8.16379 0.551109Z" fill="currentColor"></path>
                                  </svg></div>
                              </div>
                              <div class="margin-vertical margin-medium _2">
                                <div class="heading-style-h5-8 _565">"Clari Hearing Aids has been a game-changer for me! I can enjoy conversations with my loved ones effortlessly, thanks to its crystal-clear sound quality and effective noise cancellation."</div>
                              </div>
                              <div class="testimonial4_client">
                                <div class="product-review-container-6 _3">
                                  <div class="text-weight-semibold-31 _9 re _3 _6">Robert B.</div>
                                  <div class="div-block-46">
                                    <div class="product-review-star-container _2 _66"><img src="https://uploads-ssl.webflow.com/640866b054bfe5558ec42f89/640866b054bfe56969c42fbc_download%20-%202023-02-22T133546.800.png" loading="lazy" alt="" class="image-245 green _3 _65"></div>
                                    <div class="text-block-98 green _3">Verified Buyer</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-w-id="1a023051-e865-1f79-ecde-1129b0e7196c" class="w-layout-grid home1-results_item-list-2 _6 _66" style="opacity: 1;">
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">10x</div>
                        </div>
                        <div class="text-block-127">Cheaper than other hearing aids.</div>
                      </div>
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">79%</div>
                        </div>
                        <div class="text-block-130">Higher quality than other hearing aids.</div>
                      </div>
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">90%</div>
                        </div>
                        <div class="text-block-130">Smaller than other hearing aids.</div>
                      </div>
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">97%</div>
                        </div>
                        <div class="text-block-130">Longer lasting than other hearing aids.</div>
                      </div>
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">50k+</div>
                        </div>
                        <div class="text-block-134">Happy ears saved.</div>
                      </div>
                      <div class="home1-results_text-wrapper-2 _2">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h2-4">5,000+</div>
                        </div>
                        <div class="text-block-135">5-Star Reviews.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
       {% endcomment %}
        
        </div>
       
      </div>


{% schema %}
{
   "name": "Best in class section",
   "settings": [
   {
      "type": "liquid",
      "id": "best_in_class",
      "label": "Best in class section",
      "info": "Add custom Best in class section by dkalandadze"
   }],
   "presets": [
   {
      "name": "Best in class section"
   }]
}
{% endschema %}