{{ 'custom_product_footer_section.css' | asset_url | stylesheet_tag }}
{%- style -%}
.resp{
  text-align:center;
}


 .stars_text-two-desktop{

   display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 16px;
    border-radius: 44px;
    max-width: 450px;
  background-color:#00455C;
  }

   .stars_text-two-mobile{
    display:none
  }



.aids{
  color:white;
  text-align:center;
}

.aids-two {
  text-align:center;
  color:#c4ced2;
}

.stars_text-two-mobile{
  display:none;
}
.checkmark-two{
  padding-bottom:8px;
}
@media (max-width: 768px) {
    .stars_text-two-desktop{
    display:none
  }
   .stars_text-two-mobile{
   display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 11px;
    padding: 9px 8px;
    border-radius: 44px;
    max-width: 450px;
  background-color:#00455C;
  }
  .resp{
  text-align:start;
}
 .frame_product_footer .div-2 , .frame_product_footer .div-6 {
  margin-right:0;
}
  .frame_product_footer_wrapper{
    padding:56px 10px;
  }
  .aids ,
  .aids-two{
    text-align:start;
  }

  .stars_text-two{
    display:none;
  }

  .stars_text-two-mobile{
    display:flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 16px;
    border-radius: 44px;
    max-width: 450px;
  background-color:#00455C;
  }

  .div-mobile{
    align-items:center;
  }


}
{%- endstyle -%}
<div class="frame_product_footer_wrapper">

<div class="frame_product_footer">
      <img class="rectangle" src="{{ 'Frame 79.png' | asset_url }}" />
      <div class="div div-mobile" >
        <div class="div-2">
 
            
<div class="stars_text-two-desktop">

 <svg width="110" height="22" viewBox="0 0 110 22" fill="none" xmlns="http://www.w3.org/2000/svg">

<path d="M20.1524 9.82936L16.2766 13.2119L17.4376 18.2478C17.4991 18.5111 17.4815 18.7866 17.3872 19.0399C17.2929 19.2933 17.126 19.5132 16.9074 19.6723C16.6888 19.8313 16.4281 19.9223 16.158 19.934C15.8879 19.9457 15.6204 19.8775 15.3889 19.738L10.9966 17.0739L6.61379 19.738C6.38225 19.8775 6.11472 19.9457 5.84463 19.934C5.57454 19.9223 5.3139 19.8313 5.09527 19.6723C4.87665 19.5132 4.70975 19.2933 4.61544 19.0399C4.52114 18.7866 4.50361 18.5111 4.56504 18.2478L5.72434 13.217L1.8477 9.82936C1.64266 9.65252 1.4944 9.41908 1.4215 9.15831C1.3486 8.89755 1.35432 8.62106 1.43793 8.36353C1.52154 8.106 1.67932 7.87889 1.89149 7.71067C2.10366 7.54245 2.36078 7.44063 2.63059 7.41795L7.74043 6.97537L9.73504 2.21788C9.8392 1.96824 10.0149 1.75501 10.24 1.60502C10.4651 1.45503 10.7295 1.375 11 1.375C11.2705 1.375 11.535 1.45503 11.7601 1.60502C11.9852 1.75501 12.1609 1.96824 12.265 2.21788L14.2657 6.97537L19.3738 7.41795C19.6436 7.44063 19.9007 7.54245 20.1129 7.71067C20.3251 7.87889 20.4828 8.106 20.5665 8.36353C20.6501 8.62106 20.6558 8.89755 20.5829 9.15831C20.51 9.41908 20.3617 9.65252 20.1567 9.82936H20.1524Z" fill="#FF9D0B"/>

<path d="M42.1524 9.82936L38.2766 13.2119L39.4376 18.2478C39.4991 18.5111 39.4815 18.7866 39.3872 19.0399C39.2929 19.2933 39.126 19.5132 38.9074 19.6723C38.6888 19.8313 38.4281 19.9223 38.158 19.934C37.8879 19.9457 37.6204 19.8775 37.3889 19.738L32.9966 17.0739L28.6138 19.738C28.3823 19.8775 28.1147 19.9457 27.8446 19.934C27.5745 19.9223 27.3139 19.8313 27.0953 19.6723C26.8766 19.5132 26.7098 19.2933 26.6154 19.0399C26.5211 18.7866 26.5036 18.5111 26.565 18.2478L27.7243 13.217L23.8477 9.82936C23.6427 9.65252 23.4944 9.41908 23.4215 9.15831C23.3486 8.89755 23.3543 8.62106 23.4379 8.36353C23.5215 8.106 23.6793 7.87889 23.8915 7.71067C24.1037 7.54245 24.3608 7.44063 24.6306 7.41795L29.7404 6.97537L31.735 2.21788C31.8392 1.96824 32.0149 1.75501 32.24 1.60502C32.4651 1.45503 32.7295 1.375 33 1.375C33.2705 1.375 33.535 1.45503 33.7601 1.60502C33.9852 1.75501 34.1609 1.96824 34.265 2.21788L36.2657 6.97537L41.3738 7.41795C41.6436 7.44063 41.9007 7.54245 42.1129 7.71067C42.3251 7.87889 42.4828 8.106 42.5665 8.36353C42.6501 8.62106 42.6558 8.89755 42.5829 9.15831C42.51 9.41908 42.3617 9.65252 42.1567 9.82936H42.1524Z" fill="#FF9D0B"/>

<path d="M64.1524 9.82936L60.2766 13.2119L61.4376 18.2478C61.4991 18.5111 61.4815 18.7866 61.3872 19.0399C61.2929 19.2933 61.126 19.5132 60.9074 19.6723C60.6888 19.8313 60.4281 19.9223 60.158 19.934C59.8879 19.9457 59.6204 19.8775 59.3889 19.738L54.9966 17.0739L50.6138 19.738C50.3823 19.8775 50.1147 19.9457 49.8446 19.934C49.5745 19.9223 49.3139 19.8313 49.0953 19.6723C48.8766 19.5132 48.7098 19.2933 48.6154 19.0399C48.5211 18.7866 48.5036 18.5111 48.565 18.2478L49.7243 13.217L45.8477 9.82936C45.6427 9.65252 45.4944 9.41908 45.4215 9.15831C45.3486 8.89755 45.3543 8.62106 45.4379 8.36353C45.5215 8.106 45.6793 7.87889 45.8915 7.71067C46.1037 7.54245 46.3608 7.44063 46.6306 7.41795L51.7404 6.97537L53.735 2.21788C53.8392 1.96824 54.0149 1.75501 54.24 1.60502C54.4651 1.45503 54.7295 1.375 55 1.375C55.2705 1.375 55.535 1.45503 55.7601 1.60502C55.9852 1.75501 56.1609 1.96824 56.265 2.21788L58.2657 6.97537L63.3738 7.41795C63.6436 7.44063 63.9007 7.54245 64.1129 7.71067C64.3251 7.87889 64.4828 8.106 64.5665 8.36353C64.6501 8.62106 64.6558 8.89755 64.5829 9.15831C64.51 9.41908 64.3617 9.65252 64.1567 9.82936H64.1524Z" fill="#FF9D0B"/>

<path d="M86.1524 9.82936L82.2766 13.2119L83.4376 18.2478C83.4991 18.5111 83.4815 18.7866 83.3872 19.0399C83.2929 19.2933 83.126 19.5132 82.9074 19.6723C82.6888 19.8313 82.4281 19.9223 82.158 19.934C81.8879 19.9457 81.6204 19.8775 81.3889 19.738L76.9966 17.0739L72.6138 19.738C72.3823 19.8775 72.1147 19.9457 71.8446 19.934C71.5745 19.9223 71.3139 19.8313 71.0953 19.6723C70.8766 19.5132 70.7098 19.2933 70.6154 19.0399C70.5211 18.7866 70.5036 18.5111 70.565 18.2478L71.7243 13.217L67.8477 9.82936C67.6427 9.65252 67.4944 9.41908 67.4215 9.15831C67.3486 8.89755 67.3543 8.62106 67.4379 8.36353C67.5215 8.106 67.6793 7.87889 67.8915 7.71067C68.1037 7.54245 68.3608 7.44063 68.6306 7.41795L73.7404 6.97537L75.735 2.21788C75.8392 1.96824 76.0149 1.75501 76.24 1.60502C76.4651 1.45503 76.7295 1.375 77 1.375C77.2705 1.375 77.535 1.45503 77.7601 1.60502C77.9852 1.75501 78.1609 1.96824 78.265 2.21788L80.2657 6.97537L85.3738 7.41795C85.6436 7.44063 85.9007 7.54245 86.1129 7.71067C86.3251 7.87889 86.4828 8.106 86.5665 8.36353C86.6501 8.62106 86.6558 8.89755 86.5829 9.15831C86.51 9.41908 86.3617 9.65252 86.1567 9.82936H86.1524Z" fill="#FF9D0B"/>

<path d="M108.152 9.82936L104.277 13.2119L105.438 18.2478C105.499 18.5111 105.482 18.7866 105.387 19.0399C105.293 19.2933 105.126 19.5132 104.907 19.6723C104.689 19.8313 104.428 19.9223 104.158 19.934C103.888 19.9457 103.62 19.8775 103.389 19.738L98.9966 17.0739L94.6138 19.738C94.3823 19.8775 94.1147 19.9457 93.8446 19.934C93.5745 19.9223 93.3139 19.8313 93.0953 19.6723C92.8766 19.5132 92.7098 19.2933 92.6154 19.0399C92.5211 18.7866 92.5036 18.5111 92.565 18.2478L93.7243 13.217L89.8477 9.82936C89.6427 9.65252 89.4944 9.41908 89.4215 9.15831C89.3486 8.89755 89.3543 8.62106 89.4379 8.36353C89.5215 8.106 89.6793 7.87889 89.8915 7.71067C90.1037 7.54245 90.3608 7.44063 90.6306 7.41795L95.7404 6.97537L97.735 2.21788C97.8392 1.96824 98.0149 1.75501 98.24 1.60502C98.4651 1.45503 98.7295 1.375 99 1.375C99.2705 1.375 99.535 1.45503 99.7601 1.60502C99.9852 1.75501 100.161 1.96824 100.265 2.21788L102.266 6.97537L107.374 7.41795C107.644 7.44063 107.901 7.54245 108.113 7.71067C108.325 7.87889 108.483 8.106 108.566 8.36353C108.65 8.62106 108.656 8.89755 108.583 9.15831C108.51 9.41908 108.362 9.65252 108.157 9.82936H108.152Z" fill="#FF9D0B"/>

</svg>

<div style="display: flex; align-items:center;">

<p class="stars_text-num" style="color:#60CEEC; margin-right:2px;font-size:12px;">4.9/5 </p>

<p style="display: flex; align-items:center; font-size:14px; color:white;">

   by 50k Happy Customers</p>



<img src="{{ 'asajk.png' | asset_url }}" alt="Your Image" style="padding-left:10px"/>



</div>

          </div>

<div class="stars_text-two-mobile ">
<svg width="80" height="22" viewBox="0 0 110 22" fill="none" xmlns="http://www.w3.org/2000/svg">

<path d="M20.1524 9.82936L16.2766 13.2119L17.4376 18.2478C17.4991 18.5111 17.4815 18.7866 17.3872 19.0399C17.2929 19.2933 17.126 19.5132 16.9074 19.6723C16.6888 19.8313 16.4281 19.9223 16.158 19.934C15.8879 19.9457 15.6204 19.8775 15.3889 19.738L10.9966 17.0739L6.61379 19.738C6.38225 19.8775 6.11472 19.9457 5.84463 19.934C5.57454 19.9223 5.3139 19.8313 5.09527 19.6723C4.87665 19.5132 4.70975 19.2933 4.61544 19.0399C4.52114 18.7866 4.50361 18.5111 4.56504 18.2478L5.72434 13.217L1.8477 9.82936C1.64266 9.65252 1.4944 9.41908 1.4215 9.15831C1.3486 8.89755 1.35432 8.62106 1.43793 8.36353C1.52154 8.106 1.67932 7.87889 1.89149 7.71067C2.10366 7.54245 2.36078 7.44063 2.63059 7.41795L7.74043 6.97537L9.73504 2.21788C9.8392 1.96824 10.0149 1.75501 10.24 1.60502C10.4651 1.45503 10.7295 1.375 11 1.375C11.2705 1.375 11.535 1.45503 11.7601 1.60502C11.9852 1.75501 12.1609 1.96824 12.265 2.21788L14.2657 6.97537L19.3738 7.41795C19.6436 7.44063 19.9007 7.54245 20.1129 7.71067C20.3251 7.87889 20.4828 8.106 20.5665 8.36353C20.6501 8.62106 20.6558 8.89755 20.5829 9.15831C20.51 9.41908 20.3617 9.65252 20.1567 9.82936H20.1524Z" fill="#FF9D0B"></path>

<path d="M42.1524 9.82936L38.2766 13.2119L39.4376 18.2478C39.4991 18.5111 39.4815 18.7866 39.3872 19.0399C39.2929 19.2933 39.126 19.5132 38.9074 19.6723C38.6888 19.8313 38.4281 19.9223 38.158 19.934C37.8879 19.9457 37.6204 19.8775 37.3889 19.738L32.9966 17.0739L28.6138 19.738C28.3823 19.8775 28.1147 19.9457 27.8446 19.934C27.5745 19.9223 27.3139 19.8313 27.0953 19.6723C26.8766 19.5132 26.7098 19.2933 26.6154 19.0399C26.5211 18.7866 26.5036 18.5111 26.565 18.2478L27.7243 13.217L23.8477 9.82936C23.6427 9.65252 23.4944 9.41908 23.4215 9.15831C23.3486 8.89755 23.3543 8.62106 23.4379 8.36353C23.5215 8.106 23.6793 7.87889 23.8915 7.71067C24.1037 7.54245 24.3608 7.44063 24.6306 7.41795L29.7404 6.97537L31.735 2.21788C31.8392 1.96824 32.0149 1.75501 32.24 1.60502C32.4651 1.45503 32.7295 1.375 33 1.375C33.2705 1.375 33.535 1.45503 33.7601 1.60502C33.9852 1.75501 34.1609 1.96824 34.265 2.21788L36.2657 6.97537L41.3738 7.41795C41.6436 7.44063 41.9007 7.54245 42.1129 7.71067C42.3251 7.87889 42.4828 8.106 42.5665 8.36353C42.6501 8.62106 42.6558 8.89755 42.5829 9.15831C42.51 9.41908 42.3617 9.65252 42.1567 9.82936H42.1524Z" fill="#FF9D0B"></path>

<path d="M64.1524 9.82936L60.2766 13.2119L61.4376 18.2478C61.4991 18.5111 61.4815 18.7866 61.3872 19.0399C61.2929 19.2933 61.126 19.5132 60.9074 19.6723C60.6888 19.8313 60.4281 19.9223 60.158 19.934C59.8879 19.9457 59.6204 19.8775 59.3889 19.738L54.9966 17.0739L50.6138 19.738C50.3823 19.8775 50.1147 19.9457 49.8446 19.934C49.5745 19.9223 49.3139 19.8313 49.0953 19.6723C48.8766 19.5132 48.7098 19.2933 48.6154 19.0399C48.5211 18.7866 48.5036 18.5111 48.565 18.2478L49.7243 13.217L45.8477 9.82936C45.6427 9.65252 45.4944 9.41908 45.4215 9.15831C45.3486 8.89755 45.3543 8.62106 45.4379 8.36353C45.5215 8.106 45.6793 7.87889 45.8915 7.71067C46.1037 7.54245 46.3608 7.44063 46.6306 7.41795L51.7404 6.97537L53.735 2.21788C53.8392 1.96824 54.0149 1.75501 54.24 1.60502C54.4651 1.45503 54.7295 1.375 55 1.375C55.2705 1.375 55.535 1.45503 55.7601 1.60502C55.9852 1.75501 56.1609 1.96824 56.265 2.21788L58.2657 6.97537L63.3738 7.41795C63.6436 7.44063 63.9007 7.54245 64.1129 7.71067C64.3251 7.87889 64.4828 8.106 64.5665 8.36353C64.6501 8.62106 64.6558 8.89755 64.5829 9.15831C64.51 9.41908 64.3617 9.65252 64.1567 9.82936H64.1524Z" fill="#FF9D0B"></path>

<path d="M86.1524 9.82936L82.2766 13.2119L83.4376 18.2478C83.4991 18.5111 83.4815 18.7866 83.3872 19.0399C83.2929 19.2933 83.126 19.5132 82.9074 19.6723C82.6888 19.8313 82.4281 19.9223 82.158 19.934C81.8879 19.9457 81.6204 19.8775 81.3889 19.738L76.9966 17.0739L72.6138 19.738C72.3823 19.8775 72.1147 19.9457 71.8446 19.934C71.5745 19.9223 71.3139 19.8313 71.0953 19.6723C70.8766 19.5132 70.7098 19.2933 70.6154 19.0399C70.5211 18.7866 70.5036 18.5111 70.565 18.2478L71.7243 13.217L67.8477 9.82936C67.6427 9.65252 67.4944 9.41908 67.4215 9.15831C67.3486 8.89755 67.3543 8.62106 67.4379 8.36353C67.5215 8.106 67.6793 7.87889 67.8915 7.71067C68.1037 7.54245 68.3608 7.44063 68.6306 7.41795L73.7404 6.97537L75.735 2.21788C75.8392 1.96824 76.0149 1.75501 76.24 1.60502C76.4651 1.45503 76.7295 1.375 77 1.375C77.2705 1.375 77.535 1.45503 77.7601 1.60502C77.9852 1.75501 78.1609 1.96824 78.265 2.21788L80.2657 6.97537L85.3738 7.41795C85.6436 7.44063 85.9007 7.54245 86.1129 7.71067C86.3251 7.87889 86.4828 8.106 86.5665 8.36353C86.6501 8.62106 86.6558 8.89755 86.5829 9.15831C86.51 9.41908 86.3617 9.65252 86.1567 9.82936H86.1524Z" fill="#FF9D0B"></path>

<path d="M108.152 9.82936L104.277 13.2119L105.438 18.2478C105.499 18.5111 105.482 18.7866 105.387 19.0399C105.293 19.2933 105.126 19.5132 104.907 19.6723C104.689 19.8313 104.428 19.9223 104.158 19.934C103.888 19.9457 103.62 19.8775 103.389 19.738L98.9966 17.0739L94.6138 19.738C94.3823 19.8775 94.1147 19.9457 93.8446 19.934C93.5745 19.9223 93.3139 19.8313 93.0953 19.6723C92.8766 19.5132 92.7098 19.2933 92.6154 19.0399C92.5211 18.7866 92.5036 18.5111 92.565 18.2478L93.7243 13.217L89.8477 9.82936C89.6427 9.65252 89.4944 9.41908 89.4215 9.15831C89.3486 8.89755 89.3543 8.62106 89.4379 8.36353C89.5215 8.106 89.6793 7.87889 89.8915 7.71067C90.1037 7.54245 90.3608 7.44063 90.6306 7.41795L95.7404 6.97537L97.735 2.21788C97.8392 1.96824 98.0149 1.75501 98.24 1.60502C98.4651 1.45503 98.7295 1.375 99 1.375C99.2705 1.375 99.535 1.45503 99.7601 1.60502C99.9852 1.75501 100.161 1.96824 100.265 2.21788L102.266 6.97537L107.374 7.41795C107.644 7.44063 107.901 7.54245 108.113 7.71067C108.325 7.87889 108.483 8.106 108.566 8.36353C108.65 8.62106 108.656 8.89755 108.583 9.15831C108.51 9.41908 108.362 9.65252 108.157 9.82936H108.152Z" fill="#FF9D0B"></path>

</svg>
<p class="stars_text-num" style="color:#60CEEC; padding-right:2px ;font-size:12px" >4.9/5 </p>
<p class="stars_text-num" style="padding-right:2px; margin-right:16px; font-size:11px;color:#fff;">  bys 50k Happy Customers </p>

 <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.875 0.4375H2.125C1.76033 0.4375 1.41059 0.582366 1.15273 0.840228C0.894866 1.09809 0.75 1.44783 0.75 1.8125V6.86305C0.75 14.5639 7.26578 17.1188 8.57031 17.5528C8.84894 17.6476 9.15106 17.6476 9.42969 17.5528C10.7359 17.1188 17.25 14.5639 17.25 6.86305V1.8125C17.25 1.44783 17.1051 1.09809 16.8473 0.840228C16.5894 0.582366 16.2397 0.4375 15.875 0.4375ZM12.9239 6.42391L8.11141 11.2364C8.04756 11.3003 7.97173 11.351 7.88827 11.3856C7.80481 11.4202 7.71535 11.438 7.625 11.438C7.53465 11.438 7.44519 11.4202 7.36173 11.3856C7.27827 11.351 7.20244 11.3003 7.13859 11.2364L5.07609 9.17391C4.94709 9.0449 4.87462 8.86994 4.87462 8.6875C4.87462 8.50506 4.94709 8.3301 5.07609 8.20109C5.2051 8.07209 5.38006 7.99962 5.5625 7.99962C5.74494 7.99962 5.9199 8.07209 6.04891 8.20109L7.625 9.77719L11.9511 5.45109C12.015 5.38722 12.0908 5.33655 12.1743 5.30198C12.2577 5.26741 12.3472 5.24962 12.4375 5.24962C12.5278 5.24962 12.6173 5.26741 12.7007 5.30198C12.7842 5.33655 12.86 5.38722 12.9239 5.45109C12.9878 5.51497 13.0385 5.5908 13.073 5.67426C13.1076 5.75772 13.1254 5.84717 13.1254 5.9375C13.1254 6.02783 13.1076 6.11728 13.073 6.20074C13.0385 6.2842 12.9878 6.36003 12.9239 6.42391Z" fill="#036788"/>
</svg>

</div>


                    <div class="product__title">

                <h1 style="color:white; font-style:700; text-align:center ;">CLARI Hearing™ Aids</h1>

                <a href="/products/clari-hearing-aids" class="product__title">

                  <h2 class="" style="color:white; font-style:700;text-align:center ;" >

                    CLARI Hearing™ Aids

                  </h2>

                </a>

              </div>
        </div>
        <div class="benefits">
  <div class="product__description rte quick-add-hidden" style="color:white;">



                  <h2 data-mce-fragment="1" style="" class="aids resp"><b data-mce-fragment="1">🇺🇸 #1 CLARI’s Most Advanced Hearing Aids for Just $249&nbsp;</b></h2>

<div data-mce-fragment="1 "  class="aids-two resp" style="color:#c4ced2;">

 <span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> FDA-registered OTC hearing aids<br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> Advanced noise reduction &amp; feedback cancellation <br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> All-day comfort with&nbsp;Clari&nbsp;<br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> Rechargeable. No batteries needed <br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> Convenient portable charging case <br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> Mild-to-moderate hearing loss <br>
<span class="checkmark-two"><svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2081 5.68169L7.18249 13.7067C7.08962 13.7996 6.97937 13.8733 6.85803 13.9235C6.73669 13.9738 6.60664 13.9997 6.4753 13.9997C6.34396 13.9997 6.2139 13.9738 6.09256 13.9235C5.97122 13.8733 5.86097 13.7996 5.76811 13.7067L1.29186 9.20669C1.10466 9.0192 0.999512 8.76508 0.999512 8.50013C0.999512 8.23518 1.10466 7.98105 1.29186 7.79356L2.79186 6.29356C2.97875 6.10662 3.23206 6.00129 3.4964 6.00058C3.76074 5.99988 4.0146 6.10387 4.20249 6.28981L6.49249 8.49419L6.49936 8.50106L12.295 2.79044C12.4824 2.60381 12.7361 2.49902 13.0006 2.49902C13.2651 2.49902 13.5188 2.60381 13.7062 2.79044L15.2062 4.26294C15.2999 4.35576 15.3743 4.46618 15.4251 4.58786C15.4759 4.70953 15.5022 4.84006 15.5023 4.97192C15.5025 5.10379 15.4766 5.23438 15.4261 5.35619C15.3756 5.478 15.3015 5.58862 15.2081 5.68169Z" fill="#60CEEC"/>
</svg></span> FREE lifetime support</div> 
                </div>
        </div>

  <div class="div-6">

<button style="background:#60CEEC; color:black;margin-top:32px;" id="ProductSubmitButton-template--22492572680471__custom_product_footer_section" type="submit" name="add" class="product-form__submit button  button--primary" aria-haspopup="dialog">
        
            <span>
                Buy CLARI Hearing™ Aids</span>

            
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
{% comment %} {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true -%} {% endcomment %}
               
<div class="div-8">
            
<div class="frame_payment_icons">
   <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="white" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.1253 16.2582H9.00494L7.41495 10.1924C7.33949 9.91334 7.17925 9.66667 6.94354 9.5504C6.35531 9.25823 5.70712 9.0257 5 8.90843V8.6749H8.41567C8.88708 8.6749 9.24064 9.0257 9.29957 9.43313L10.1245 13.8086L12.2438 8.6749H14.3052L11.1253 16.2582ZM15.4838 16.2582H13.4813L15.1302 8.6749H17.1327L15.4838 16.2582ZM19.7234 10.7757C19.7823 10.3673 20.1359 10.1337 20.5483 10.1337C21.1965 10.0751 21.9026 10.1924 22.4919 10.4835L22.8454 8.85081C22.2562 8.61727 21.608 8.5 21.0198 8.5C19.0762 8.5 17.662 9.55041 17.662 11.0082C17.662 12.1173 18.6637 12.6996 19.3708 13.0504C20.1359 13.4002 20.4305 13.6338 20.3716 13.9835C20.3716 14.5082 19.7823 14.7418 19.1941 14.7418C18.4869 14.7418 17.7798 14.5669 17.1327 14.2747L16.7791 15.9085C17.4862 16.1996 18.2512 16.3169 18.9584 16.3169C21.1376 16.3745 22.4919 15.3251 22.4919 13.75C22.4919 11.7665 19.7234 11.6502 19.7234 10.7757ZM29.5 16.2582L27.91 8.6749H26.2022C25.8486 8.6749 25.4951 8.90843 25.3772 9.25823L22.4329 16.2582H24.4943L24.9058 15.1502H27.4386L27.6743 16.2582H29.5ZM26.4968 10.7171L27.085 13.5751H25.4361L26.4968 10.7171Z" fill="#172B85"></path>
</svg>

    <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="white" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.25 17.1569C17.0584 18.1852 15.5128 18.806 13.8238 18.806C10.0551 18.806 7 15.7154 7 11.903C7 8.09057 10.0551 5 13.8238 5C15.5128 5 17.0584 5.62075 18.25 6.64903C19.4416 5.62075 20.9872 5 22.6762 5C26.4449 5 29.5 8.09057 29.5 11.903C29.5 15.7154 26.4449 18.806 22.6762 18.806C20.9872 18.806 19.4416 18.1852 18.25 17.1569Z" fill="#ED0006"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.25 17.1569C19.7172 15.8908 20.6475 14.0068 20.6475 11.903C20.6475 9.79917 19.7172 7.91517 18.25 6.64903C19.4416 5.62075 20.9872 5 22.6762 5C26.4449 5 29.5 8.09057 29.5 11.903C29.5 15.7154 26.4449 18.806 22.6762 18.806C20.9872 18.806 19.4416 18.1852 18.25 17.1569Z" fill="#F9A000"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.25 6.64941C19.7172 7.91555 20.6476 9.79954 20.6476 11.9033C20.6476 14.0071 19.7172 15.8911 18.25 17.1573C16.7829 15.8911 15.8525 14.0071 15.8525 11.9033C15.8525 9.79954 16.7829 7.91555 18.25 6.64941Z" fill="#FF5E00"></path>
</svg>
<svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="white" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 15.2412H8.84439C8.73794 15.2412 8.6474 15.3186 8.6308 15.4236L8.00163 19.4127C7.98913 19.4914 8.05009 19.5624 8.12993 19.5624H8.87259C8.97905 19.5624 9.06958 19.485 9.08618 19.3797L9.25588 18.3038C9.27225 18.1985 9.363 18.1212 9.46924 18.1212H9.96169C10.9864 18.1212 11.5778 17.6253 11.7323 16.6427C11.8019 16.2128 11.7353 15.875 11.5339 15.6384C11.3129 15.3787 10.9206 15.2412 10.4 15.2412ZM10.5795 16.6982C10.4944 17.2564 10.0679 17.2564 9.65553 17.2564H9.42078L9.58547 16.2138C9.59525 16.1509 9.64984 16.1045 9.71353 16.1045H9.82112C10.102 16.1045 10.3671 16.1045 10.504 16.2646C10.5856 16.3602 10.6106 16.5021 10.5795 16.6982ZM15.0501 16.6803H14.3052C14.2417 16.6803 14.1869 16.7267 14.1771 16.7897L14.1441 16.9981L14.092 16.9226C13.9308 16.6885 13.5712 16.6103 13.2122 16.6103C12.389 16.6103 11.6859 17.2337 11.549 18.1084C11.4778 18.5446 11.579 18.9617 11.8264 19.2527C12.0535 19.5202 12.3783 19.6316 12.7647 19.6316C13.428 19.6316 13.7959 19.2051 13.7959 19.2051L13.7626 19.4122C13.7501 19.4913 13.8111 19.5623 13.8904 19.5623H14.5615C14.6682 19.5623 14.7582 19.4849 14.7751 19.3796L15.1777 16.83C15.1904 16.7515 15.1297 16.6803 15.0501 16.6803ZM14.0117 18.1302C13.9398 18.5557 13.602 18.8414 13.1713 18.8414C12.955 18.8414 12.782 18.7721 12.6711 18.6406C12.561 18.5101 12.5191 18.3242 12.5541 18.1172C12.6213 17.6952 12.9647 17.4003 13.389 17.4003C13.6004 17.4003 13.7724 17.4705 13.8857 17.6031C13.9992 17.7371 14.0442 17.9241 14.0117 18.1302ZM18.269 16.6802H19.0176C19.1224 16.6802 19.1836 16.7977 19.124 16.8837L16.6342 20.4776C16.5939 20.5359 16.5275 20.5705 16.4565 20.5705H15.7089C15.6036 20.5705 15.5421 20.452 15.6031 20.3657L16.3783 19.2714L15.5538 16.8516C15.5253 16.7675 15.5874 16.6802 15.6769 16.6802H16.4124C16.508 16.6802 16.5923 16.7429 16.6199 16.8344L17.0575 18.2958L18.09 16.775C18.1304 16.7156 18.1976 16.6802 18.269 16.6802Z" fill="#253B80"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.3854 19.4129L27.0238 15.3509C27.0336 15.2878 27.0882 15.2414 27.1517 15.2412H27.8705C27.9498 15.2412 28.0108 15.3124 27.9982 15.3911L27.3687 19.38C27.3522 19.4852 27.2617 19.5626 27.1551 19.5626H26.5132C26.4338 19.5626 26.3729 19.4916 26.3854 19.4129ZM21.496 15.2414H19.9401C19.8339 15.2414 19.7434 15.3188 19.7267 15.4238L19.0976 19.4129C19.0851 19.4916 19.146 19.5626 19.2255 19.5626H20.0238C20.098 19.5626 20.1615 19.5085 20.1731 19.4348L20.3516 18.3041C20.368 18.1987 20.4587 18.1214 20.565 18.1214H21.0572C22.0821 18.1214 22.6734 17.6255 22.828 16.6429C22.8978 16.213 22.8308 15.8752 22.6295 15.6386C22.4085 15.3789 22.0166 15.2414 21.496 15.2414ZM21.6755 16.6984C21.5906 17.2566 21.1641 17.2566 20.7515 17.2566H20.517L20.6819 16.2141C20.6917 16.1511 20.7458 16.1047 20.8097 16.1047H20.9173C21.198 16.1047 21.4633 16.1047 21.6001 16.2648C21.6818 16.3604 21.7066 16.5023 21.6755 16.6984ZM26.1457 16.6805H25.4013C25.3373 16.6805 25.283 16.7269 25.2734 16.79L25.2404 16.9983L25.1881 16.9228C25.0269 16.6887 24.6675 16.6105 24.3085 16.6105C23.4853 16.6105 22.7824 17.234 22.6455 18.1086C22.5745 18.5448 22.6753 18.962 22.9228 19.2529C23.1502 19.5204 23.4746 19.6319 23.8611 19.6319C24.5243 19.6319 24.8921 19.2053 24.8921 19.2053L24.859 19.4124C24.8464 19.4915 24.9074 19.5625 24.9873 19.5625H25.658C25.7642 19.5625 25.8548 19.4851 25.8714 19.3799L26.2742 16.8302C26.2865 16.7517 26.2256 16.6805 26.1457 16.6805ZM25.1074 18.1304C25.0359 18.556 24.6977 18.8416 24.2669 18.8416C24.051 18.8416 23.8777 18.7723 23.7666 18.6408C23.6565 18.5103 23.6152 18.3244 23.6498 18.1174C23.7173 17.6954 24.0603 17.4005 24.4845 17.4005C24.6961 17.4005 24.868 17.4707 24.9814 17.6033C25.0953 17.7373 25.1403 17.9243 25.1074 18.1304Z" fill="#179BD7"></path>
<path d="M16.157 13.8138L16.3483 12.5991L15.9223 12.5892H13.8881L15.3017 3.62534C15.3061 3.59828 15.3204 3.57305 15.3412 3.55513C15.3621 3.53722 15.3888 3.52734 15.4166 3.52734H18.8466C19.9853 3.52734 20.7711 3.7643 21.1814 4.232C21.3738 4.45141 21.4963 4.68068 21.5556 4.933C21.6177 5.19776 21.6188 5.51406 21.5581 5.89985L21.5537 5.92801V6.1752L21.7461 6.28418C21.9081 6.37011 22.0367 6.46848 22.1354 6.58111C22.3001 6.7687 22.4065 7.00712 22.4515 7.28978C22.4979 7.5805 22.4825 7.92643 22.4065 8.31807C22.3187 8.76859 22.1768 9.16096 21.9852 9.48202C21.8089 9.77785 21.5844 10.0232 21.3179 10.2134C21.0633 10.394 20.7609 10.5312 20.419 10.619C20.0877 10.7052 19.71 10.7488 19.2957 10.7488H19.0287C18.8379 10.7488 18.6524 10.8175 18.5069 10.9408C18.361 11.0665 18.2644 11.2383 18.2348 11.4263L18.2147 11.5357L17.8768 13.6767L17.8614 13.7553C17.8574 13.7802 17.8505 13.7927 17.8403 13.8011C17.8311 13.8087 17.818 13.8138 17.8051 13.8138H16.157Z" fill="#253B80"></path>
<path d="M21.9281 5.95703C21.9179 6.02248 21.9062 6.0894 21.8931 6.15815C21.4407 8.48056 19.8932 9.28286 17.9166 9.28286H16.9103C16.6686 9.28286 16.465 9.45838 16.4273 9.6968L15.912 12.9645L15.7661 13.8907C15.7416 14.0473 15.8623 14.1884 16.0202 14.1884H17.8052C18.0165 14.1884 18.196 14.0348 18.2293 13.8264L18.2469 13.7357L18.583 11.603L18.6045 11.4861C18.6374 11.2769 18.8173 11.1234 19.0286 11.1234H19.2956C21.0249 11.1234 22.3787 10.4213 22.7743 8.38951C22.9396 7.54077 22.854 6.8321 22.4167 6.33367C22.2843 6.18338 22.1201 6.05868 21.9281 5.95703Z" fill="#179BD7"></path>
<path d="M21.4548 5.7688C21.3858 5.74869 21.3144 5.7304 21.2412 5.71395C21.1678 5.69787 21.0924 5.6836 21.0149 5.67117C20.7436 5.62729 20.4463 5.60645 20.1278 5.60645H17.4393C17.3731 5.60645 17.3103 5.62143 17.254 5.6485C17.13 5.7081 17.0379 5.82549 17.0155 5.96919L16.4435 9.59159L16.4271 9.69727C16.4648 9.45884 16.6685 9.28332 16.9102 9.28332H17.9165C19.893 9.28332 21.4406 8.48066 21.8929 6.15862C21.9064 6.08987 21.9178 6.02295 21.928 5.9575C21.8136 5.89679 21.6896 5.84487 21.5561 5.80061C21.5232 5.78965 21.4892 5.77905 21.4548 5.7688Z" fill="#222D65"></path>
<path d="M17.0156 5.96866C17.0379 5.82495 17.1301 5.70757 17.254 5.64833C17.3107 5.62126 17.3733 5.60627 17.4394 5.60627H20.1279C20.4464 5.60627 20.7437 5.62712 21.0149 5.671C21.0925 5.68343 21.1679 5.6977 21.2414 5.71378C21.3145 5.73024 21.3858 5.74853 21.4549 5.76863C21.4893 5.77887 21.5233 5.78947 21.5565 5.80008C21.69 5.84433 21.814 5.89662 21.9284 5.95696C22.0631 5.09871 21.9274 4.51437 21.4634 3.98523C20.9518 3.40271 20.0284 3.15332 18.8469 3.15332H15.4168C15.1755 3.15332 14.9697 3.32884 14.9323 3.56763L13.5037 12.6236C13.4755 12.8028 13.6137 12.9645 13.7943 12.9645H15.912L16.4437 9.59105L17.0156 5.96866Z" fill="#253B80"></path>
</svg>

<svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="white" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0301 15.7585V12.7375H18.5893C19.2282 12.7375 19.7675 12.5234 20.2071 12.1012L20.3126 11.9942C21.1156 11.12 21.0629 9.75817 20.2071 8.94941C19.7792 8.52125 19.1931 8.28932 18.5893 8.30122H16.0864V15.7585H17.0301ZM17.0303 11.8217V9.21703H18.6131C18.9531 9.21703 19.2756 9.34786 19.5159 9.58573C20.026 10.0853 20.0377 10.9178 19.5453 11.4352C19.3049 11.6909 18.9649 11.8336 18.6131 11.8217H17.0303ZM24.7147 11.0546C24.3102 10.6799 23.7592 10.4896 23.0617 10.4896C22.1649 10.4896 21.4908 10.8227 21.0453 11.4827L21.8777 12.012C22.1825 11.5601 22.5987 11.3341 23.1262 11.3341C23.4603 11.3341 23.7827 11.459 24.0347 11.6849C24.2809 11.899 24.4216 12.2083 24.4216 12.5353V12.7554C24.0582 12.5532 23.601 12.4461 23.0383 12.4461C22.3818 12.4461 21.8542 12.6007 21.4615 12.9159C21.0688 13.2311 20.8695 13.6474 20.8695 14.1766C20.8578 14.6583 21.0629 15.1162 21.4263 15.4254C21.7956 15.7585 22.2645 15.925 22.8155 15.925C23.4662 15.925 23.982 15.6336 24.3747 15.0508H24.4157V15.7585H25.3184V12.6126C25.3184 11.9525 25.1191 11.4292 24.7147 11.0546ZM22.1533 14.8189C21.9599 14.6761 21.8426 14.4442 21.8426 14.1944C21.8426 13.9149 21.9716 13.683 22.2237 13.4987C22.4816 13.3143 22.8041 13.2192 23.1851 13.2192C23.7128 13.2132 24.1231 13.3322 24.4163 13.57C24.4163 13.9744 24.258 14.3253 23.9473 14.6226C23.6659 14.9081 23.2848 15.0686 22.8862 15.0686C22.6223 15.0746 22.3644 14.9854 22.1533 14.8189ZM27.3465 18.0004L30.5 10.6562H29.4743L28.0147 14.3194H27.9972L26.5025 10.6562H25.4767L27.5458 15.4314L26.3735 18.0004H27.3465Z" fill="#3C4043"></path>
<path d="M13.772 12.0831C13.772 11.7917 13.7486 11.5003 13.7017 11.2148H9.72168V12.8621H12.0018C11.908 13.3914 11.6032 13.8671 11.1578 14.1644V15.2349H12.5176C13.3148 14.4915 13.772 13.3914 13.772 12.0831Z" fill="#4285F4"></path>
<path d="M9.72186 16.2696C10.859 16.2696 11.8203 15.889 12.5178 15.2349L11.1579 14.1645C10.7769 14.4261 10.2904 14.5748 9.72186 14.5748C8.61989 14.5748 7.6879 13.8195 7.35379 12.8086H5.95288V13.9147C6.66799 15.3598 8.12752 16.2696 9.72186 16.2696Z" fill="#34A853"></path>
<path d="M7.35401 12.8088C7.17814 12.2796 7.17814 11.7027 7.35401 11.1675V10.0674H5.95288C5.34904 11.2746 5.34904 12.7018 5.95288 13.909L7.35401 12.8088Z" fill="#FBBC04"></path>
<path d="M9.72186 9.40114C10.3256 9.38925 10.9059 9.62117 11.3397 10.0434L12.5471 8.81836C11.7793 8.09285 10.7711 7.69442 9.72186 7.70631C8.12752 7.70631 6.66799 8.62211 5.95288 10.0672L7.35379 11.1733C7.6879 10.1564 8.61989 9.40114 9.72186 9.40114Z" fill="#EA4335"></path>
</svg>
<svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="white" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.8462 8.93296C9.31624 8.97261 9.78628 8.69506 10.0801 8.34316C10.3689 7.98135 10.5599 7.49563 10.5109 7C10.0947 7.01983 9.58064 7.27755 9.28686 7.63936C9.01757 7.95161 8.78745 8.45715 8.8462 8.93296ZM14.4377 15.3167V7.58981H17.3021C18.7807 7.58981 19.8138 8.62072 19.8138 10.1274C19.8138 11.6342 18.7611 12.675 17.2629 12.675H15.6226V15.3167H14.4377ZM10.506 9.02714C10.0919 9.00301 9.71406 9.1532 9.40886 9.27451C9.21246 9.35257 9.04614 9.41868 8.91961 9.41868C8.77762 9.41868 8.60444 9.34904 8.40999 9.27085C8.15521 9.16839 7.86392 9.05125 7.55845 9.05687C6.85829 9.06679 6.20709 9.46825 5.84966 10.1076C5.11522 11.3863 5.6587 13.2796 6.36866 14.3205C6.7163 14.8359 7.13248 15.4009 7.68086 15.3811C7.92211 15.3719 8.09566 15.2974 8.27526 15.2202C8.48203 15.1314 8.69683 15.0391 9.03223 15.0391C9.35599 15.0391 9.5614 15.129 9.75858 15.2152C9.94606 15.2973 10.1261 15.376 10.3934 15.3712C10.9614 15.3613 11.3188 14.8557 11.6664 14.3403C12.0416 13.7871 12.2064 13.2471 12.2314 13.1652L12.2344 13.1557C12.2338 13.1551 12.2291 13.153 12.221 13.1492C12.0956 13.0911 11.137 12.6469 11.1278 11.4557C11.1186 10.4559 11.8881 9.94937 12.0093 9.86963L12.0093 9.86962C12.0166 9.86477 12.0216 9.8615 12.0238 9.85979C11.5342 9.12626 10.7704 9.04696 10.506 9.02714ZM21.978 15.3761C22.7223 15.3761 23.4126 14.9945 23.726 14.3898H23.7505V15.3166H24.8472V11.4706C24.8472 10.3554 23.9659 9.63672 22.6096 9.63672C21.3513 9.63672 20.421 10.3653 20.3867 11.3665H21.4541C21.5423 10.8907 21.978 10.5784 22.5754 10.5784C23.3 10.5784 23.7064 10.9204 23.7064 11.5499V11.9761L22.2277 12.0653C20.8519 12.1496 20.1077 12.7195 20.1077 13.7108C20.1077 14.712 20.8764 15.3761 21.978 15.3761ZM22.2962 14.4592C21.6646 14.4592 21.2631 14.1519 21.2631 13.6811C21.2631 13.1954 21.6499 12.9129 22.3893 12.8683L23.7063 12.784V13.2202C23.7063 13.9438 23.0992 14.4592 22.2962 14.4592ZM28.4851 15.619C28.0102 16.9721 27.4667 17.4181 26.3112 17.4181C26.2231 17.4181 25.9293 17.4082 25.8607 17.3884V16.4616C25.9342 16.4715 26.1153 16.4814 26.2084 16.4814C26.7323 16.4814 27.026 16.2584 27.2072 15.6785L27.3149 15.3365L25.3075 9.71108H26.5462L27.9416 14.2758H27.9661L29.3616 9.71108H30.566L28.4851 15.619ZM15.6225 8.60087H16.9886C18.0168 8.60087 18.6044 9.15598 18.6044 10.1324C18.6044 11.1088 18.0168 11.6688 16.9837 11.6688H15.6225V8.60087Z" fill="black"></path>
</svg>
<svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="0.5" width="34" height="23" rx="3.5" fill="#1F72CD" stroke="#D9D9D9"></rect>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.18111 8.5L4 15.7467H7.80824L8.28035 14.5913H9.35949L9.8316 15.7467H14.0234V14.8649L14.3969 15.7467H16.5652L16.9387 14.8462V15.7467H25.6566L26.7166 14.6213L27.7092 15.7467L32.1868 15.7561L28.9957 12.1436L32.1868 8.5H27.7786L26.7467 9.60463L25.7854 8.5H16.3016L15.4872 10.3704L14.6537 8.5H10.8534V9.35186L10.4307 8.5H7.18111ZM20.1994 9.52905H25.2055L26.7367 11.2316L28.3172 9.52905H29.8484L27.5219 12.1426L29.8484 14.726H28.2477L26.7166 13.0036L25.128 14.726H20.1994V9.52905ZM21.4356 11.555V10.6057V10.6048H24.5593L25.9223 12.1229L24.4989 13.6493H21.4356V12.613H24.1667V11.555H21.4356ZM7.91799 9.52905H9.7743L11.8843 14.4431V9.52905H13.9178L15.5476 13.0524L17.0496 9.52905H19.073V14.7291H17.8418L17.8317 10.6544L16.0368 14.7291H14.9355L13.1305 10.6544V14.7291H10.5977L10.1176 13.5633H7.52338L7.04421 14.728H5.68717L7.91799 9.52905ZM7.96634 12.4856L8.82101 10.4089L9.6747 12.4856H7.96634Z" fill="white"></path>
</svg>
</div>
  

  
        </div>

      </div>
      
</div>
  
</div>


{% schema %}
  {
    "name": "Custom product section",
    "settings": []
  }
{% endschema %}