.head-txt {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.head-txt span {
  padding-left: 20px;
}

.desc-txt {
  font-size: 16px;
  color: #c4ced2;
  padding-left: 55px;
  max-width: 550px;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom.margin-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.margin-bottom.margin-small {
  padding-bottom: 12px;
}

.margin-bottom.margin-small {
  color: #313774;
}

.margin-bottom.margin-small._8 {
  align-items: center;
}

.margin-bottom.margin-small {
  color: #313774;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  display: flex;
}

.margin-bottom.margin-small {
  justify-content: center;
  align-items: center;
}

.margin-bottom.margin-small {
  align-items: flex-start;
}

.margin-bottom.margin-small._33 {
  border-bottom: 1px solid #000;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom.margin-small._33._8585 {
  border-bottom-color: #fff;
}

.margin-bottom.margin-small._2 {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Garnett, sans-serif;
  font-size: 11px;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.home1-results_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.home1-results_component._65 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.section_home1-results {
  overflow: hidden;
}

.section_home1-results._26 {
  display: block;
}

.section_home1-results._26._11 {
  display: none;
}

.home1-results_content._55 {
  padding-bottom: 55px;
}

.max-width-large-2 {
  width: 100%;
  max-width: 48rem;
}

.product-review-star-container {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template: "Area" / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.product-review-star-container._2._66 {
  border-right-style: none;
  padding-right: 0;
  display: block;
}

/* .padding-global-12 {
  padding-left: 5%;
  padding-right: 5%;
} */

.padding-global-12._326 {
  padding-top: 13px;
}

.button-26 {
  color: #0000;
  text-align: center;
  background-color: #0000;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.button-27 {
  color: #0000;
  text-align: center;
  background-color: #0000;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.75rem 1.5rem;
}

.button-27.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  color: #fff;
  background-color: #1b2530;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: 900;
  display: flex;
}

.button-27.is-icon.button-26 {
  background-color: #f0c151;
  border-color: #000;
}

.text-block-98 {
  color: #000;
  margin-top: -2px;
  font-size: 12px;
  font-weight: 500;
}

.text-block-98.green {
  color: #382757;
}

.text-block-98.green._3 {
  color: #fff;
}

.container-1668 {
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 29px;
  display: flex;
}

.container-1668._1 {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.text-weight-semibold-31 {
  font-size: 13px;
  font-weight: 600;
}

.text-weight-semibold-31._9 {
  width: 148.086px;
  text-align: left;
  text-transform: uppercase;
}

.text-weight-semibold-31._9.re {
  width: 97px;
}

.text-weight-semibold-31._9.re._3._6 {
  color: #fff;
}

.paragraph-42 {
  padding-top: 8px;
  font-size: 13px;
}

.paragraph-42._9 {
  color: #fff;
}

.heading-99 {
  max-width: 300px;
  color: #02362a;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 1.1;
}

.heading-99.no-1 {
  margin-top: 0;
  font-size: 26px;
  line-height: 1.1;
}

.home1-results_text-wrapper-2._2 {
  background-color: #e5e5e526;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.div-block-186 {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 100%;
  margin-top: 3px;
}

.div-block-6 {
  margin-left: 40px;
}

.grid-6 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.testimonial4_rating-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
  display: flex;
}

.div-block-183 {
  margin-left: 40px;
}

.icon-embed-xsmall-2 {
  width: 1.5rem;
  height: 1.5rem;
  color: #1d2833;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-wrapper_image-12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.padding-global-35 {
  padding-left: 5%;
  padding-right: 5%;
}

.paragraph-48 {
  display: none;
}

.testimonial4_client {
  text-align: left;
  align-items: center;
  display: flex;
}

.heading-style-h2-4 {
  color: #fff;
  font-family: Garnett, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.padding-global-25 {
  border-top: 1px #000;
  border-bottom: 1px #000;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  overflow: hidden;
}

.padding-global-25._6541.pc {
  background-color: #01322500;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-top: 66px;
  padding-bottom: 0;
  display: block;
}

.padding-global-25._6541.pc._62 {
  padding: 112px 120px;
}

.div-block-2 {
  margin-left: 20px;
}

.div-block-170._1 {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  display: flex;
}

.div-block-170._1._6 {
  padding-top: 0;
}

.padding-section-large-44 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.7rem;
  padding-bottom: 7rem;
  display: flex;
}

.padding-section-large-44._8._5496 {
  border-top: 1px solid #fff;
  margin-top: 66px;
  padding-top: 4.5rem;
  padding-bottom: 0;
}

.nope-1 {
  border-left: 1px solid #fef0c7;
  margin-top: 11px;
  display: flex;
}

.div-block-187 {
  width: 2px;
  height: auto;
  background-color: #000;
}

.grid-4 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.grid-4.mobile {
  display: none;
}

.testimonial4_component {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonial4_component._65 {
  padding-bottom: 19px;
}

.image-wrapper_image-9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.home1-results_item-list-2 {
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.home1-results_item-list-2._6 {
  grid-column-gap: 1.25rem;
}

.div-block-185 {
  margin-left: 20px;
}

.container-large-20 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.div-block-179 {
  width: 2px;
  height: auto;
  background-color: #000;
}

.container-large-16 {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.button-wrapper-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 27px;
  padding-top: 37px;
  display: flex;
}

.text-block-130 {
  color: #fff;
}

.text-block-134 {
  color: #fff;
}

.heading__one-2.is--product--new {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6em;
  font-style: italic;
  font-weight: 700;
  line-height: 0.8em;
}

.heading__one-2.is--product--new._2 {
  text-align: center;
  font-size: 40px;
}

.heading__one-2.is--product--new._2._6265 {
  font-style: normal;
  font-weight: 800;
}

.heading__one-2.is--product--new._2._6265.pc {
  color: #fff;
  margin-bottom: 44px;
  font-weight: 700;
  line-height: 1.2em;
}

.text-block-135 {
  color: #fff;
}

.text-block-127 {
  color: #fff;
}

.image-wrapper-1-1-8 {
  width: 100%;
  height: 600px;
  border: 1px solid #fff;
  padding-top: 100%;
  position: relative;
}

.padding-section-large-41 {
  padding-top: 1.2rem;
  padding-bottom: 0;
}

.padding-section-large-41._6 {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.div-block-182 {
  margin-top: -5px;
  margin-left: -31px;
  display: flex;
}

.div-block-182._2nd {
  margin-top: 40px;
}

.div-block-4 {
  margin-top: -5px;
  margin-left: -31px;
  display: flex;
}

.div-block-4._2nd {
  margin-top: 40px;
}

.text-block-132 {
  color: #7b7b7b;
  font-family: PT Sans, sans-serif;
  font-size: 16px;
}

.text-block-132.h {
  max-width: 300px;
  color: #02362a;
  margin-top: 20px;
}

.grey-line-divider-2 {
  width: 30px;
  height: 4px;
  color: #181818;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 35px;
}

.testimonial4_rating-wrapper {
  display: flex;
}

.line-3 {
  background-color: #000;
}

.image-245 {
  width: 20px;
}

.product-review-container-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  display: flex;
}

.container-large-21 {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-section {
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 67px;
  padding-bottom: 20px;
}

.subscribe-section.pc {
  background-color: #1b2530;
  border-bottom-style: none;
  padding-top: 0;
  padding-bottom: 0;
}

.subscribe-section.pc._565 {
  background-color: #002f3e;
}

.div-block-46 {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  display: flex;
}

.margin-top-3 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.heading-98 {
  max-width: 300px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 1.1;
}

.heading-98.no-1 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: Garnett, sans-serif;
  font-size: 22px;
  line-height: 1.1;
}

.div-block-5 {
  width: 20px;
  height: 20px;
  background-color: #fef0c7;
  border-radius: 100%;
  margin-top: 3px;
}

.heading-style-h5-8 {
  color: #382757;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.heading-style-h5-8._565 {
  color: #fff;
}

.heading-style-h5-8._565._965 {
  font-size: 1.2rem;
}

.heading-73 {
  text-transform: uppercase;
  font-family: Garnett, sans-serif;
}

.heading-73._8559 {
  color: #fff;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0em;
}

.div-block-177 {
  padding-left: 300px;
  padding-right: 300px;
}

.div-block-184 {
  width: 100%;
  height: 500px;
  background-position: 50%;
  background-size: cover;
  border: 1px solid #000;
  border-radius: 11px;
  margin-bottom: 40px;
  padding-top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.div-block-180 {
  padding-left: 71px;
}

.nope-2 {
  margin-top: 60px;
  display: flex;
}

.text-block-2 {
  color: #fff;
  font-family: PT Sans, sans-serif;
  font-size: 16px;
}

.text-block-2.h {
  max-width: 300px;
  color: #fff;
  margin-top: 20px;
  font-family: Garnett, sans-serif;
  font-size: 14px;
}

.text-block-126 {
  color: #1d2833;
}

.image-wrapper-1-1-19 {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.image-wrapper-1-1-22 {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
  padding-top: 100%;
  position: relative;
}

.bold-text-76 {
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .margin-bottom.margin-small._8 {
    padding-bottom: 20px;
  }

  .margin-bottom.margin-small {
    padding-bottom: 0;
  }

  .button-27.is-icon.button-26 {
    grid-column-gap: 1.75rem;
    grid-row-gap: 1.75rem;
  }

  .icon-embed-xsmall-2 {
    display: none;
  }

  .padding-global-25._6541.pc {
    border-bottom-width: 0;
  }

  .subscribe-section.pc {
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .container-large-20 {
    width: auto;
    max-width: none;
  }
}

@media screen and (min-width: 1920px) {
  .section_home1-results._26 {
    display: block;
  }

  .text-block-98 {
    font-size: 17px;
  }

  .container-1668._1 {
    padding-bottom: 71px;
  }

  .text-weight-semibold-31._9 {
    color: #382757;
  }

  .heading__one-2.is--product--new {
    font-size: 9em;
  }

  .image-wrapper-1-1-8 {
    width: 60%;
    height: 400px;
    padding-top: 61%;
  }

  .subscribe-section.pc {
    padding-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom.margin-small._33._8585 {
    border-bottom-style: none;
    justify-content: center;
    align-items: center;
  }

  .margin-bottom.margin-small._33._8585._8 {
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .home1-results_component {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .padding-global-12 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .heading-99.no-1 {
    color: #fff;
    text-transform: uppercase;
    font-family: Garnett, sans-serif;
  }

  .div-block-186 {
    background-color: #fedf89;
  }

  .grid-6 {
    flex-direction: column;
    display: flex;
  }

  .padding-global-35._9._565 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .heading-style-h2-4 {
    font-size: 1.9rem;
  }

  .padding-section-large-44 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .grid-4 {
    flex-direction: column;
    display: none;
  }

  .grid-4.mobile {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
    display: flex;
  }

  .text-block-130 {
    padding-right: 10px;
    font-size: 11px;
  }

  .heading__one-2.is--product--new {
    font-size: 5em;
  }

  .padding-section-large-41 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .padding-section-large-41._6 {
    padding-bottom: 0;
  }

  .text-block-132.h {
    color: #fff;
  }

  .line-3 {
    background-color: #fef0c7;
  }

  .div-block-8 {
    max-width: 600px;
  }

  .margin-top-3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-73._8559 {
    font-size: 23px;
  }

  .heading-73._8559._98 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .div-block-184 {
    width: 500px;
    align-self: center;
  }
}

@media screen and (max-width: 750px) {
  .padding-global-25._6541.pc._62 {
    padding: 56px 20px;
  }
  .head-txt {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* .padding-global-25._6541.pc {
    padding: 20px 3% 28px;
  } */
  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom.margin-small._33._8585 {
    text-align: center;
    border-bottom-style: none;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .home1-results_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .testimonial4_client {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .heading-style-h2-4 {
    font-size: 2.25rem;
  }

  .padding-section-large-44 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-large-44._8._5496 {
    padding-top: 2.3rem;
  }

  .grid-4.mobile {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home1-results_item-list-2._6._53 {
    padding-top: 1rem;
  }

  .button-wrapper-2 {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .padding-section-large-41 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-large-41._6 {
    padding-bottom: 0;
  }

  .div-block-8 {
    margin-top: -30px;
  }

  .margin-top-3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h5-8 {
    font-size: 1.25rem;
  }

  .heading-style-h5-8._565._965 {
    font-size: 0.9rem;
  }

  .div-block-184 {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom.margin-small._33 {
    align-items: flex-start;
    padding-bottom: 9px;
  }

  .margin-bottom.margin-small {
    background-color: #fcc6d600;
    margin-bottom: -14px;
    padding-bottom: 0;
  }

  .margin-bottom.margin-small._8 {
    margin-bottom: 0;
    padding-bottom: 3px;
  }

  .margin-bottom.margin-small {
    margin-bottom: -14px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom.margin-small {
    align-items: center;
  }

  .margin-bottom.margin-small {
    border-bottom: 1px #000;
    margin-bottom: 0;
  }

  .margin-bottom.margin-small._33 {
    border-bottom-style: none;
    border-bottom-width: 0;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 9px;
  }

  .margin-bottom.margin-small._33._8585 {
    border-bottom-style: none;
    align-items: center;
    padding-bottom: 15px;
  }

  .margin-bottom.margin-small._2 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .margin-bottom.margin-small {
    margin-bottom: -14px;
  }

  .margin-bottom.margin-small._33 {
    padding-bottom: 0;
  }

  .margin-bottom.margin-small {
    margin-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-vertical.margin-medium._2 {
    margin-bottom: 13px;
  }

  .home1-results_component {
    grid-row-gap: 0.75rem;
    grid-template-columns: 1fr;
  }

  .section_home1-results {
    background-image: linear-gradient(#fff, #fffcf5);
    padding-top: 21px;
    overflow: hidden;
  }

  .section_home1-results._26 {
    background-image: none;
    padding-top: 0;
    display: block;
  }

  .section_home1-results._26._11 {
    display: block;
  }

  .section_home1-results._26._22 {
    display: none;
  }

  .max-width-large-2.align-center {
    padding-bottom: 0;
  }

  .max-width-large-2.align-center {
    padding-top: 12px;
  }

  .product-review-star-container {
    grid-column-gap: 4px;
  }

  .product-review-star-container._2 {
    color: #7de5ff;
  }

  .padding-global-12 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .text-span-82 {
    font-size: 13px;
  }

  .text-span-79 {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 0.9em;
    line-height: 1.1em;
    display: inline-block;
  }

  .button-27.is-icon {
    color: #fff;
    background-color: #1b2530;
    border-radius: 6px;
  }

  .button-27.is-icon.button-26 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .text-block-98 {
    color: #fff;
    letter-spacing: 0.2px;
    margin-top: 0;
    font-family: Neuemontreal, sans-serif;
    font-size: 12px;
    font-weight: 700;
  }

  .text-block-98.green {
    color: #382757;
    margin-top: 0;
    padding-top: 0;
    font-size: 10px;
    font-weight: 400;
    position: static;
    top: 1px;
  }

  .text-block-98.green._3 {
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
    font-size: 13px;
  }

  .container-1668 {
    margin-bottom: 0;
    padding-bottom: 4px;
  }

  .container-1668._1 {
    flex-direction: column;
    padding-bottom: 0;
  }

  .text-weight-semibold-31 {
    width: 100px;
    color: #fff;
    letter-spacing: 0.2px;
    font-family: Neuemontreal, sans-serif;
    font-weight: 500;
  }

  .text-weight-semibold-31._9 {
    width: 115.527px;
    color: #382757;
    text-align: left;
    text-transform: uppercase;
    font-family: Neuemontreal, sans-serif;
    font-size: 11px;
    font-weight: 500;
  }

  .text-weight-semibold-31._9.re {
    width: 56px;
    text-align: left;
    align-self: auto;
    font-size: 10px;
  }

  .text-weight-semibold-31._9.re._3 {
    width: 75px;
    font-size: 14px;
  }

  .text-weight-semibold-31._9.re._3._6 {
    width: 100px;
    color: #fff;
    text-transform: none;
  }

  .paragraph-42 {
    padding-top: 6px;
    font-size: 11px;
    font-weight: 500;
  }

  .paragraph-42._9 {
    color: #fff;
    font-size: 9px;
  }

  .heading-99 {
    color: #fff;
  }

  .heading-99.no-1 {
    text-transform: uppercase;
    font-family: Garnett, sans-serif;
    font-size: 22px;
    line-height: 1.2;
  }

  .home1-results_text-wrapper-2 {
    height: 93.1836px;
    background-color: #f3f3f3;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
  }

  .home1-results_text-wrapper-2._2 {
    background-color: #f3f3f317;
    border-radius: 9px;
  }

  .div-block-186 {
    background-color: #fedf89;
  }

  .testimonial4_rating-icon {
    width: 0.9rem;
    color: #fff;
  }

  .div-block-183 {
    margin-left: 20px;
  }

  .padding-global-35 {
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Neuemontreal, sans-serif;
  }

  .paragraph-48 {
    color: #fff;
    text-align: center;
    background-color: #ffffff0f;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 20px 10px;
    font-size: 13px;
    line-height: 19px;
    display: block;
  }

  .testimonial4_client {
    border-bottom: 1px dashed #382757;
    margin-bottom: 10px;
    padding-bottom: 4px;
  }

  .heading-style-h2-4 {
    color: #fff;
    font-family: Garnett, sans-serif;
    font-size: 1.8rem;
  }

  .padding-global-25 {
    background-color: #fff;
    border-top-style: none;
    flex-direction: row;
    margin-bottom: -175px;
    padding-top: 35px;
    padding-bottom: 119px;
    overflow: hidden;
  }

  .padding-global-25._6541 {
    background-color: #ffa41c00;
    border-bottom-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0%;
  }

  .div-block-170 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .div-block-170._1 {
    background-color: #0000;
    padding-top: 0;
    padding-bottom: 9px;
  }

  .padding-section-large-44._8 {
    padding-top: 0.7rem;
    padding-bottom: 1.1rem;
  }

  .padding-section-large-44._8._566 {
    padding-bottom: 0;
  }

  .grid-4.mobile {
    border-bottom: 1px solid #fff;
    padding: 13px 0 38px;
  }

  .testimonial4_component {
    padding-top: 0;
  }

  .testimonial4_component._21 {
    padding-top: 4px;
  }

  .image-wrapper_image-9._6565 {
    border: 1px solid #fff;
    border-radius: 3px;
  }

  .home1-results_item-list-2 {
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
  }

  .home1-results_item-list-2._6 {
    grid-column-gap: 1rem;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home1-results_item-list-2._6._66 {
    padding-bottom: 0;
  }

  .button-wrapper-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 0;
  }

  .button-wrapper-2._9 {
    padding-top: 27px;
  }

  .text-block-130 {
    color: #fff;
    padding-right: 10px;
    font-size: 13px;
    line-height: 16px;
  }

  .text-block-134 {
    color: #fff;
  }

  .heading__one-2.is--product--new {
    text-align: center;
    font-size: 3.6em;
  }

  .heading__one-2.is--product--new._2 {
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2em;
  }

  .heading__one-2.is--product--new._2._6265 {
    color: #aafdb1;
    text-transform: capitalize;
    padding-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 800;
  }

  .heading__one-2.is--product--new._2._6265.pc {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 15px;
    padding-bottom: 12px;
    font-family: Garnett, sans-serif;
    font-size: 1.8em;
    line-height: 1.2em;
  }

  .text-block-135 {
    color: #fff;
  }

  .text-block-127 {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
  }

  .padding-section-large-41 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-182 {
    padding-right: 10px;
  }

  .div-block-182._2nd {
    margin-top: 51px;
  }

  .text-block-132.h {
    max-width: 350px;
    color: #fff;
    font-family: Garnett, sans-serif;
    font-size: 14px;
  }

  .grey-line-divider-2 {
    color: #fff;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .testimonial4_rating-wrapper {
    color: #fff;
  }

  .line-3 {
    background-color: #fef0c7;
  }

  .text-span-78 {
    font-size: 1.4em;
  }

  .image-245.green {
    width: 18px;
  }

  .image-245.green._3 {
    width: 23px;
  }

  .image-245.green._3._65 {
    width: 20px;
  }

  .product-review-container-6 {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    display: flex;
  }

  .product-review-container-6._3 {
    padding-top: 0;
  }

  .subscribe-section {
    background-color: #013225;
    border-top: 1px solid #000;
    border-bottom: 1px #000;
    padding: 25px 0 4px;
    overflow: hidden;
  }

  .subscribe-section.pc {
    display: block;
  }

  .subscribe-section.pc._565 {
    background-color: #1b2530;
    background-image: linear-gradient(#1b2530 78%, #111923 90%);
  }

  .div-block-8 {
    margin-top: -68px;
  }

  .div-block-46 {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    display: flex;
  }

  .margin-top-3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h5-8 {
    padding-bottom: 0;
    font-size: 0.8rem;
  }

  .heading-style-h5-8._565 {
    color: #fff;
    font-family: Garnett, sans-serif;
    font-size: 0.8rem;
    line-height: 1.3;
  }

  .heading-73 {
    color: #1b2530;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 8px;
    padding-right: 20px;
    font-family: Garnett, sans-serif;
    font-size: 23px;
    line-height: 33px;
  }

  .heading-73._8559 {
    color: #fff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 27px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0em;
  }

  .div-block-177 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-184 {
    height: 333px;
    background-image: url(https://uploads-ssl.webflow.com/646402636a0fcfdfa1430cbe/64c2099918d503a72d865a05_%231.jpeg);
    border-color: #fff;
  }

  .div-block-184._62 {
    border-radius: 3px;
  }

  .nope-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-126 {
    font-size: 18px;
    font-weight: 900;
  }
}
